<!DOCTYPE html>
<html>

<head>
    <title>Add Task</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Add Task</h1>

    <form method="POST">

        <label>Title</label>
        <input type="text" name="title" required>

        <label>Description</label>
        <textarea name="description"></textarea>

        <label>Deadline</label>
        <input type="date" name="deadline">

        <button type="submit">Save Task</button>

    </form>

    <a href="/">Back</a>

</body>

</html>