<!DOCTYPE html>
<html>

<head>
    <title>Edit Task</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Edit Task</h1>

    <form method="POST">

        <label>Title</label>
        <input type="text" name="title" value="{{ task.title }}" required>

        <label>Description</label>
        <textarea name="description">{{ task.description }}</textarea>

        <label>Deadline</label>
        <input type="date" name="deadline" value="{{ task.deadline }}">

        <label>Status</label>
        <select name="status">
            <option value="pending" {% if task.status=='pending' %}selected{% endif %}>Pending</option>
            <option value="completed" {% if task.status=='completed' %}selected{% endif %}>Completed</option>
        </select>

        <button type="submit">Update Task</button>

    </form>

    <a href="/">Back</a>

</body>

</html>